<div ng-include="'template/nav.html'"></div>

<!--乐俊杰-->
<style>
    #yjj {
        background-color: #f4f4f4;
        width: 100%;
        height: 100%;
    }

    #yjj .logo {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #ddd;
    }

    #yjj .logo div {
        height: 66px;
        width: 1200px;
        margin: 0 auto;
    }

    #yjj .logo div img {
        width: 144px;
        background-repeat: no-repeat;
        margin-top: 14px;
    }

    #yjj .cart-emptyCart {
        height: 226px;
        width: 1200px;
        margin: 30px auto 0 auto;
        background-color: #fff;
        text-align: center;
    }

    #yjj .cart-emptyCart h4 {
        padding-top: 30px;
    }

    #yjj .cart-emptyCart h4 svg {
        font-size: 50px;
    }

    #yjj .cart-emptyCart .btn {
        margin: 20px auto;
        background-color: #ff3366;
        border-color: #ff3366;
    }
    #yjj .cart-fullCart{
        width: 1200px;
        padding: 20px 26px;
        margin: 20px auto;
        background-color: #fff;
    }

    #yjj .cart-header{
        width: 100%;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }
    #yjj .cart-header>div{
        height: 49px;
        text-align: center;
        line-height: 49px;
        padding: 0;
    }

    #yjj .cart-type{
        height: 60px;
        padding: 0;
        line-height: 60px;
        text-align: center;
    }
    #yjj .cart-type .col-md-1{
        height: 60px;
        padding: 0;
        line-height: 60px;
        text-align: center;
    }

    #yjj .cart-item{
        height: 111px;
        line-height: 111px;
        margin: 0;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        text-align: center;
    }
    #yjj .cart-item>div{
        padding: 0;
    }
</style>
<div id="yjj">
    <div class="logo">
        <div>
            <img src="images/cart-beauty-logo.png" alt="">
        </div>
    </div>
    <div class="cart-emptyCart" hidden>
        <h4>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gouwuche1"></use>
            </svg>
            您的购物车还是空的，赶快去挑选商品吧！
        </h4>
        <a href="#/home" class="btn btn-primary">返回首页</a>
    </div>
    <div class="cart-fullCart">
        <div class="cart-header row" >
            <div class="col-md-1">
                <input type="checkbox">
                全选
            </div>
            <div class="col-md-6">商品</div>
            <div class="col-md-1">商品信息</div>
            <div class="col-md-1">单价（元）</div>
            <div class="col-md-1">数量</div>
            <div class="col-md-1">小计（元）</div>
            <div class="col-md-1">操作</div>
        </div>

        <div class="cart-category">
            <div class="cart-type" >
                <div class="col-md-1">
                    <input type="checkbox">
                    <span>类型</span>
                </div>
                <div class="col-md-2">
                    <span>男友</span>
                </div>
            </div>
            <div class="cart-item row">
                <div class="col-md-1">
                    <input type="checkbox">
                    选择
                </div>
                <div class="col-md-6">
                    <img src="http://s3.mogucdn.com/mlcdn/917393/171013_8526kg9a4jcjke08ifkbh142jec4c_1600x2250.jpg_100x100.jpg" alt="">
                    <span>【买手款】秋冬新款黑色修身显瘦铅笔牛仔裤刺绣女长裤小脚裤</span>
                </div>
                <div class="col-md-1">
                    <span>颜色：黑</span>
                </div>
                <div class="col-md-1">79</div>
                <div class="col-md-1">
                    <span class="cart-operate">+</span>
                    <span>1</span>
                    <span class="cart-operate">-</span>
                </div>
                <div class="col-md-1">79.00</div>
                <div class="col-md-1">删除</div>
            </div>
        </div>

    </div>
</div>
